<section class="chatroom container">
    <div class="chatroom__wrapper">
        <div class="messages">
            <ul class="messages__list">
                <%= render @messages %>
            </ul>
        </div>
        <%= form_with model: @message, url: message_path, class: "chatroom__form" do |f| %>
            <%= f.textarea :body, class: "chatroom__textarea" %>
            <%= f.button "Send", class: "chatroom__input" %>
        <% end %>
        <%# <form class="chatroom__form" action="">
            <textarea class="chatroom__textarea" name="#" id="#"></textarea>
            <input class="chatroom__input" type="submit" autocomplete="off" value="Send" />
        </form> %>
    </div>
    <aside class="participants">
        <span class="participants__text">Online users</span>
        <ul class="participants__list">
            <%= render @users %>
        </ul>
    </aside>
</section>